<%= form_for [current_user, @idea] do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div><br>

  <div>
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div><br>

  <div>
    <%= f.label :category %>
    <%= f.collection_select(:category_id, @categories.order(:name), :id, :name) %>
  </div><br>

  <div>
    <%= f.label :images %>
    <%= f.collection_check_boxes(:image_ids, @images.order(:alt_tag), :id, :alt_tag) %>
  </div><br>

  <div>
    <%= f.submit %>
  </div>
<% end %>
