<p><%= link_to "Edit", edit_user_idea_path(@user, @idea) %> - <%= link_to "Delete", user_idea_path(@user, @idea), method: :delete %></p>

<h2><%= @idea.title %> - <%= link_to @idea.category.name, category_path(@idea.category) %></h2>

<section class="content">
  <p class="content"><%= @idea.content %></p>
</section>

<section class="grid">
  <% @idea.images.each do |image| %>
    <img src="<%= image.url %>">
  <% end %>
</section>

<h3>Add Image</h3>
<%= form_for @idea_image do |f| %>
  <%= f.hidden_field :idea_id, value: @idea.id %>
  <%= f.label "Image" %>
  <%= f.collection_select(:image_id, @images.order(:alt_tag), :id, :alt_tag) %>
  <%= f.submit "Add" %>
<% end %>
