<%= form_for @image do |f| %>
  <div>
    <%= f.label :url %>
    <%= f.text_field :url %>
  
    <%= f.label :alt_tag %>
    <%= f.text_field :alt_tag %>
  </div><br>

  <div>
    <%= f.submit %>
  </div>
<% end %>
