<h2>Images</h2>

<section class="grid">
  <% @images.each do |image| %>
      <img src="<%= image.url %>">
      <%= image.alt_tag %>
      <%= link_to "Edit", edit_image_path(image) %> - <%= link_to "Delete", image_path(image), method: :delete %>
  <% end %>
</section>

<footer>
<h3>Add Image</h3>
<%= render partial: "form" %>
</footer>
