<!DOCTYPE html>
<html>
  <head>
    <title>IdeaBox</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="../../assets/stylesheets/main.scss">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
  </head>

  <body>
    <header>
      <h1>Travel Box</h1>
      <nav>
        <% if current_user.admin? %>
          <p><%= link_to "My Dashboard", user_path(current_user) %></p>
          <p><%= link_to "My Ideas", user_ideas_path(current_user) %></p>
          <p><%= link_to "Categories", admin_categories_path %></p>
          <p><%= link_to "Images", admin_images_path%></p>
          <p><%= link_to "Log Out", logout_path, method: :delete%></p>
        <% else %>
          <p><%= link_to "My Dashboard", user_path(current_user) %></p>
          <p><%= link_to "My Ideas", user_ideas_path(current_user) %></p>
          <p><%= link_to "Log Out", logout_path, method: :delete%></p>
        <% end %>
      </nav>
    </header>
    <p class="flash"><%= flash.notice %></p>
    <%= yield %>
  </body>
</html>
